# Supplementary Exercises

In [2]:
import random

random.seed(0)

salaries = [round(random.random() * 1000000, -3) for _ in range(100)]

print(salaries)

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]

# Calculating for Mean

In [80]:
#Compute for mean without imports

def meanCal(salaries):
  mean = (sum(salaries)/len(salaries))
  return mean

print("The Mean is:",meanCal(salaries))

The Mean is: 585690.0

In [79]:
#Compute for mean with import

import statistics as stat

def meanCal(salaries):
  mean = stat.mean(salaries)
  return mean

print("The Mean is:",meanCal(salaries))

The Mean is: 585690.0

# Calculating for Median

In [77]:
#Compute for median without import

def medianCal(salaries):
  sortedTable = sorted(salaries)
  n = len(sortedTable)
  midVal = round(((n/2) + 1))

  return (sortedTable[midVal-1] + sortedTable[midVal - 2])/2

print("The Median is:",medianCal(salaries))

The Median is: 589000.0

In [78]:
#Compute for median with import

def medianCal(salaries):
  sortedTable = sorted(salaries)
  median = stat.median(sortedTable)
  return median
print("The Median is:",medianCal(salaries))

The Median is: 589000.0

# Calculating for Mode

In [ ]:
#Grouped

In [82]:
#Ungrouped (maybe try bottom-up approach??)

def modeCal(salaries):


  pass






print(modeCal(salaries))

1